{% extends 'drugtest/base.html' %}

{% block title %}Page Specific Title{% endblock %}

{% block content %}
<h1 class="my-4">Nearest Locations</h1>
<div class="row">
    {% for site in sites %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-map-marker-alt"></i>
                        {{ site.collectionSiteName }}
                    </h5>
                    <p class="card-text">
                        <i class="fas fa-road"></i> {{ site.distance|floatformat:"2" }} miles<br>
                        <i class="fas fa-address-card"></i> {{ site.address1 }}{% if site.address2 %}, {{ site.address2 }}{% endif %}<br>
                        {{ site.city }}, {{ site.state }} {{ site.zip }}<br>
                        <i class="fas fa-phone"></i> {{ site.phoneNumber|default:"N/A" }}<br>
                    </p>
                    <!-- Select Button -->
                    <a href="{% url 'home' %}" class="btn btn-primary">Select</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Collection Site ID: {{ site.collectionSiteId }}
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
