<!-- some_template.html -->
{% extends 'drugtest/base.html' %}

{% block title %}Page Specific Title{% endblock %}

{% block content %}
<div class="services text-center my-3">
  {% for service in services %}
      <a href="{% url 'services_view' %}?service_id={{ service.id }}"
         class="service btn {% if selected_service.id == service.id %}btn-primary{% else %}btn-outline-primary{% endif %} my-2">
          {{ service.name }}
      </a>
  {% endfor %}
</div>
<div>
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
    {% for sub_category in category.sub_categories.all %}
          <hr>
            <h3 style="background-color:lightblue; text-align: center;">{{ sub_category.name }}</h3>
          <hr>
        <div style="overflow-y: auto;">
            {% for panel in sub_category.drug_panels.all %}
            <div class="card mb-3">
                <div class="card-body">
                    <!-- First Row for Panel Name and Price -->
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-8">
                            <h5 class="card-title mb-0">{{ panel.name }}</h5>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="card-text"><strong>${{ panel.price }}</strong></p>
                        </div>
                    </div>
                    <!-- Second Row for About and Find a Clinic Button -->
                    <div class="row justify-content-between align-items-center mt-2">
                        <div class="col-md-8">
                            <a href="#" onclick="showAboutInfo('{{ panel.about|escapejs }}'); return false;">About</a>
                        </div>
                        <div class="col-md-4 text-right">
                          
                          <a class="btn btn-primary" href="{% url 'select_location' panel.id %}">Find a Clinic</a>
                      </div>
                      
                    </div>
                </div>
            </div>
            {% endfor %}
            
        
        </div>
    {% endfor %}
</div>
<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> <!-- Consider using modal-lg for larger content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">About This Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="aboutModalBody">
        <!-- Dynamic Markdown converted content will be inserted here -->
        <div id="markdownContent">
          <!-- Placeholder for markdown content -->
        </div>

        <!-- MRO and certified laboratory -->
        <h6>MRO and Certified Laboratory</h6>
        <p>Our SAMHSA Certified laboratory. Results are reviewed by one of our doctors, toxicology experts who are known as Medical Review Officers (MROs). If any drug is non-negative, the MRO will reach out to the person who took the test to ask for proof of any legal prescriptions. Finally, the MRO will release the final results, which will be reported back to the Employer or the person who set up the test.</p>

        <!-- About drug testing results -->
        <h6>About Drug Testing Results</h6>
        <p>The result of your Drug Test is reported in a secure PDF file which detail the list of the tested drugs. For each class of drugs, there is an indication of Positive or Negative. If a drug comes back positive, the specific metabolite which tested positive will be specifically indicated. Quantitative levels for positive results are available upon request. The PDF file can be easily downloaded from our portal, printed, or forwarded. We are also happy to send or fax drug test results to any person, employer, or organization that needs to get a copy of the report.</p>

        <!-- How long do results take? -->
        <h6>How Long Do Results Take?</h6>
        <p>Negative Urine drug tests typically come back the next business day, but in some cases can take longer. If the screening is not negative, further testing is required. Our lab will run a GC/MS confirmation test on all non-negatives, which provides an official, quantitative measurement of the level of drugs in the system. Confirmation testing takes approximately 3-5 days.</p>

        <!-- Select A Test Employer Reporting Portal -->
        <h6>Select A Test Employer Reporting Portal</h6>
        <p>Business users get free access to our secure Employer eResults Portal, to place orders, view test results, manage employees and eSignature documents (such as policies and procedures), update random drug testing pools, and register for background checks. Non-business clients get results via email and/or fax.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Find a Clinic</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  
<script>
{% comment %} function showAboutInfo(aboutText) {
    // Implement this function to show about info, possibly with a modal or another UI component
    alert(aboutText);
} {% endcomment %}

function findClinic(panelId) {
    // Implement or redirect to clinic finding functionality
    console.log("Finding clinic for panel ID:", panelId);
}
</script>
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<script>
    var converter = new showdown.Converter();
    function showAboutInfo(markdownContent) {
      var html = converter.makeHtml(markdownContent);
      document.getElementById('markdownContent').innerHTML = html;
      $('#aboutModal').modal('show');
    }
    var modalBody = document.getElementById('aboutModalBody');
    modalBody.style.maxHeight = '500px'; // Adjust the max height as needed
    modalBody.style.overflowY = 'auto';
  </script>
  
{% endblock %}
