<!-- some_template.html -->
{% extends 'drugtest/base.html' %}

{% block title %}Page Specific Title{% endblock %}

{% block content %}
    <h1>Welcome</h1>

    <div class="header-search">
        <div class="hero-search" style="position: relative;">
            <input type="text" id="hero-search" class="mdc-text-field__input" placeholder="Enter a City, State, or Zip" autocomplete="off">
            <label for="hero-search" class="mdc-floating-label">Find testing locations near</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <form action="{% url 'services_view' %}" method="get">
            <button type="submit" class="hero-button">
                <i class="fas fa-search search-icon"></i>
                <span class="search-text">Search</span>
            </button>
        </form>
    </div>
    

{% endblock %}
