
{% extends 'drugtest/base.html' %}

{% block title %}Page Specific Title{% endblock %}

{% block content %}
    <h1>Search Collection Sites</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.zip_code.label_tag }} {{ form.zip_code }}
        </div>
        <div class="form-group">
            {{ form.distance_choices.label_tag }} {{ form.distance_choices }}
        </div>
        <button type="submit" class="btn btn-primary">Submit Selection</button>
    </form>
{% endblock %}
